body {
  background: #111111;
  box-sizing: border-box;
  width: 100% auto;
  height: 0% auto;
  margin: 0% auto;
  padding: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
 }
::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.info {
    border-radius: 25px;
    background: #fff;
    text-align: center;
    width: 250px;
    height: 0% auto;
}